@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.dropDowns {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.landing_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.left_side{
    width: 33%;
    height: 100%;
    background: linear-gradient(to right, #7C2855, transparent);
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.middle_side {
    height: 100%;
    width: 33%;

}

.right_side {
    height: 100%;
    width: 33%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

