.Twitter_Section{
    width: 100%;

}

.tweets_header{
    display: flex;
    padding: 10px;
}

.tweet_search_bar {
    flex: 1;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    color: #ffffff;
    background: transparent;
    width: 75%;
    padding: 5px;

}

.tweet_refresher {
    background: rgb(255, 255, 255); /* Transparent blue background */
    color: #ff390e;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 15px;
    width: 25%;
}


.mid{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}


.tweets_container {

    width: 100%;
    max-height:550px;

    display: flex;

    overflow:scroll;
    overflow-x: auto;

    justify-content: center;

}

.tweet {
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

    margin: 2px;
    padding: 3px 3px 0;
    background: #282c34;

    font-size: 15px;
}

.tweet_top{
    display: flex;
    justify-content: flex-start;
}

.username{
    margin-top: 15px;
    margin-left: 15px;
    color: white;
}
.profile_image{
    border-radius: 50%;
}

.tweet_bottom {
    display: flex;
    justify-content: space-between;
}

.word_cloud_container{
    width: 50%;

}